
.#*
*/.#*
*/*/.#*
*/*/*/.#*

etc/
testpage/index.html
testpage/output/*.stl.png
testpage/output/*.stl.pov
testpage/output/*.stl.js
testpage/output/tso/

share_thingscript/main/prefer/browser

mess/

have.html
readme.html
